
.section__tabs{
    background-color: #FDF9F8;
    margin: 0px 40px 0px 40px;
    @media(max-width: $breakpoint768){
        margin: 0px 10px 0px 10px;
    }
}
.tabs {
    width: 100%;
    margin-top: 145px;
    &__header {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        gap: 48px;
        
        &-item {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 180%;
            color: $primary;
            cursor: pointer;
            &.active {
                border-bottom: 3px solid #F0998D;
                transition: 0.1s linear;
            }
        }
        @media(max-width: $breakpoint1450){
            padding-top: 70px;
        }
        @media(max-width: $breakpoint992){
            padding-top: 50px;
            gap: 32px;
        }
        @media(max-width: $breakpoint768){
            gap: 20px;
            flex-wrap: wrap;
        }
        @media(max-width: $breakpoint480){
            padding-top: 15px;
            gap: 15px;
        }
    }
    &__content-item{
        display: flex;
        justify-content: space-between;
        @media(max-width: $breakpoint1200){
            flex-wrap: wrap;
        }
    }
    &__content-primary {
        max-width: 376px;
        padding-top: 65px;
        margin: 0 auto;
        @media(max-width: $breakpoint992){
            padding-top: 20px;
        }
        @media(max-width: $breakpoint480){
            max-width: 300px;
        }
    }

    &__content-secondary {
        padding-top: 65px;
        margin: 0 auto;
        @media(max-width: $breakpoint480){
            padding-top: 35px;
        }
    }
    @media(max-width: $breakpoint1200){
        margin-top: 80px;
    }
    @media(max-width: $breakpoint992){
        margin-top: 50px;
        img{
            max-width: 100%;
        }
    }
    
}
.content {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 110%;
        letter-spacing: -0.03em;
        color: $primary;
        span{
            color: $secondary;
        }
        @media(max-width: $breakpoint768){
            font-size: 40px;
        }
        @media(max-width: $breakpoint480){
            font-size: 30px;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: $primaryLight;
        padding-top: 24px;
        @media(max-width: $breakpoint480){
            font-size: 13px;
            padding-top: 18px;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.2em;
        color: $primaryLight;
        padding-top: 32px;
        @media(max-width: $breakpoint480){
            padding-top: 20px;
            font-size: 12px;
        }
    }

    &__list {
        display: flex;
        gap: 16px;
        @media(max-width: $breakpoint480){
            gap: 8px;
        }
    }

    &__list-item {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        color: #1D2736;
        padding-right: 16px;
        &:not(&:last-child){
            border-right: 1px solid rgba(29, 39, 54, .1);
        }
        @media(max-width: $breakpoint480){
            font-size: 14px;
            margin-bottom: 20px;
            padding-right: 8px;
        }
    }

    &__button {
        margin-top: 40px;
        @media(max-width: $breakpoint480){
            display: flex;
            margin: 0 auto;
        }
    }
}
